
{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static 'https://cdn.tailwindcss.com' "></script>
    <title>Document</title>
</head>
<body background="{%static 'back3.jpeg' %}">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="<section class="text-gray-600 body-font relative">
                
            </svg>
            <span class="ml-3 text-xl">JEEVA</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href ="{% url 'main' %}">Home</a>
            <a class="mr-5 hover:text-gray-900" href ="{% url 'adopt' %}">Adoption</a>
            <a class="mr-5 hover:text-gray-900" href = "{%url 'join' %}">Voulnteering</a>
            <a class="mr-5 hover:text-gray-900" href ="#segment1">About us</a>
          </nav>
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href ="{%url 'Help'%}">Help us</a>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
      <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">They need a home!
              <br class="hidden lg:inline-block">help them to live a better life by adoption or by Voulnteering
            </h1>
            
            <div class="flex justify-center">
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href ="{%url 'adopt' %}">Adopt</a></button>
              <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"><a href ="{%url 'join' %}">Join Us</a></button>
            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src ="{%static '6dog.jpeg' %}">
          </div>
        </div>
      </section>

      <a name ="segment1"></a>
      <div class="flex justify-center  ">
      
    </div>
    <div class="flex justify-center ">
        <div class="flex flex-col justify-center">

            <div class="flex flex-col max-w-7xl justify-center items-center p-2 mt-10">
                <div class="flex flex-col w-[90%] md:w-3/4 text-center items-center justify-center space-y-3">
                    <div class="text-5xl font-bold ">
                        Our Vision
                    </div>
                    <div class="text-xl font-semibold text-gray-400 ">
                      It simply revolves around the environment, like an issue complex in its simplicity. We believe in creating a difference by following the dictum - "Living beings, living in harmony"
                    </div>
                    
                </div>
                <div class="w-3/4 h-60 md:h-96 my-4  rounded-lg overflow-hidden">
                    <img src="{%static '7dog.jpeg' %}" class="h-full w-full" alt="">
                </div>
            </div>
            
            
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>



<div class="flex justify-center  ">
      
</div>
<div class="flex justify-center ">
    <div class="flex flex-col justify-center">

        <div class="flex flex-col max-w-7xl justify-center items-center p-2 mt-10">
            <div class="flex flex-col w-[90%] md:w-3/4 text-center items-center justify-center space-y-3">
                <div class="text-5xl font-bold ">
                    Feeding Drives
                </div>
                <div class="text-xl font-semibold text-gray-400 ">
                  HUNGER IS A FEELING OF DISCOMFORT CAUSED BY LACK OF

FOOD. POSITIVE INTERVENTION, WITH THE HELP OF ALL THE CONTRIBUTORS, IS ORGANISING ITS FIRST FOOD DRIVE FOR THE HOMELESS DOGS WHO OFTEN DIE OF HUNGER AND THE SEASON OF WINTERS MAKES IT EVEN MORE DIFFICULT FOR THEM. COME JOIN US FOR THIS INITIATIVE. LET'S TOGETHER WORK FOR A GOOD CAUSE. 
                </div>
                
            </div>
            <div class="w-3/4 h-60 md:h-96 my-4  rounded-lg overflow-hidden">
                <img src="{% static '8dog.jpeg' %}" class="h-full w-full" alt="">
            </div>
        </div>
        
        
    </div>
</div>
4
<div class="flex justify-center  ">
      
</div>
<div class="flex justify-center ">
    <div class="flex flex-col justify-center">

        <div class="flex flex-col max-w-7xl justify-center items-center p-2 mt-10">
            <div class="flex flex-col w-[90%] md:w-3/4 text-center items-center justify-center space-y-3">
                <div class="text-5xl font-bold ">
                    Vaccinating Street dogs
                </div>
                <div class="text-xl font-semibold text-gray-400 ">
                  Rabies is almost always fatal once symptoms start to appear. Vaccination is the best way to stay safe while continuing to treat street dogs and cats with kindness
                </div>
                
            </div>
            <div class="w-3/4 h-60 md:h-96 my-4  rounded-lg overflow-hidden">
                <img src="{%static '9dog.jpeg' %}" class="h-full w-full" alt="">
            </div>
        </div>
        
        
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>

<div class="flex justify-center  ">
      
</div>
<div class="flex justify-center ">
    <div class="flex flex-col justify-center">

        <div class="flex flex-col max-w-7xl justify-center items-center p-2 mt-10">
            <div class="flex flex-col w-[90%] md:w-3/4 text-center items-center justify-center space-y-3">
                <div class="text-5xl font-bold ">
                    Sterilization
                </div>
                <div class="text-xl font-semibold text-gray-400 ">
                  The number of stray dogs in India is unfortunately on the rise due to lack of proper sterilization drives in the country. Activities such as animal control policies (including spaying and neutering), lack of animal welfare project implementations by civic bodies only add to the stray dog bites and attacks.
                </div>
                
            </div>
            <div class="w-3/4 h-60 md:h-96 my-4  rounded-lg overflow-hidden">
                <img src="{%static '10dog.jpeg' %}" class="h-full w-full" alt="">
            </div>
        </div>
        
        
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>

<div class="flex items-center justify-center">
  <div class="m-2 max-w-5xl">
      <div class="flex flex-col justify-around md:flex-row items-center">
          
          
          <div> <a href="#"
                  class="w-9 h-9 rounded-full bg-gray-300 hover:bg-blue-600 hover:text-white mx-1 pt-1 inline-block"><i
                      class="fa fa-twitter ml-2 p-1"></i></a> <a href="#"
                  class="w-9 h-9 rounded-full bg-gray-300 hover:bg-blue-600 hover:text-white mx-1 pt-1 inline-block"><i
                      class="fa fa-instagram ml-2 p-1"></i></a> <a href="#"
                  class="w-9 h-9 rounded-full bg-gray-300 hover:bg-blue-600 hover:text-white mx-1 pt-1 inline-block"><i
                      class="fa fa-facebook ml-2 p-1"></i></a> <a href="#"
                  class="w-9 h-9 rounded-full bg-gray-300 hover:bg-blue-600 hover:text-white mx-1 pt-1 inline-block"><i
                      class="fa fa-linkedin ml-2 p-1"></i></a> <a href="#"
                  class="w-9 h-9 rounded-full bg-gray-300 hover:bg-blue-600 hover:text-white mx-1 pt-1 inline-block"><i
                      class="fa fa-quora ml-2 p-1"></i></a> </div>
      </div>
      <hr class="mt-2" />
      <div class="flex flex-col items-center justify-around md:flex-row">
          <div class="items-center m-1 justify-items-start w-60">
              <h1 class="flex flex-col text-xl text-blue-600 font-medium"> JEEVA </h1> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">our visions</a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">help</a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a>
          </div>
          <div class="items-center m-1 justify-start w-60">
              <h1 class="flex flex-col text-xl text-blue-600 font-medium"> Community</h1> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">volunteer</a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">sheltar home</a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a>
          </div>
          <div class="items-center m-1 w-60">
              <h1 class="flex flex-col text-xl text-blue-600 font-medium"> Support </h1> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">help</a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500"></a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">Email Contact</a>
          </div>
          <div class="items-center m-1 w-60 md:-mt-16">
              <h1 class="flex flex-col text-xl text-blue-600 font-medium"> Contact Us </h1> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">jeeva@gmail.com</a> <a href="#"
                  class="flex hover:text-blue-600 text-gray-500">8305181jansc</a>
          </div>
      </div>
      <div class="m-2 ml-16 mr-28 flex flex-col justify-between p-2 md:flex-row"> <img class="flex m-1"
              src="" />
          <div class="flex"> <a href="#" class="m-1 hover:text-blue-600 text-gray-500">DMCA</a>
              <div class="m-1 text-gray-500">|</div> <a href="#"
                  class="m-1 hover:text-blue-600 text-gray-500">Security Statement </a>
          </div>
      </div>
  </div>
  </div>
  <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
  <script src="https://cdn.tailwindcss.com"></script> 


      
</body>
</html>